@use "../abstracts/variables" as *;

.integrations {
  width: 100%;
  background-color: #F5F6F7; 
  padding: 80px 20px;
  overflow: hidden;

  @media (min-width: $bp-md) {
    padding: 96px 80px;
  }

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (min-width: $bp-md) {
      flex-direction: row;
      align-items: center;
      gap: 80px;
    }
  }

  &__visual {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: $bp-md) {
      width: 50%;
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 500px;
    
    .integrations__img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $bp-md) {
      width: 50%;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    color: $color-dark;
    line-height: 1.3;
    margin-bottom: 20px;

    @media (min-width: $bp-md) {
      font-size: 48px;
      font-weight: 600;
    }
  }

  &__description {
    font-size: 18px;
    color: $color-gray-500;
    max-width: 320px;
    line-height: 1.6;
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 320px;
  }
}

.integration-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 0px 0px;
  border-top: 1px solid rgba(0,0,0,0.05);

  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    
    .icon{
      width: 24px; 
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--framer {
      background-color: #C4B5EE;
      color: $color-dark;
    }

    &--webflow {
      background-color: #B6DFEC;
    }

    &--robot {
      background-color: #C1D9B3;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    color: $color-dark;
  }
}

