@use "../abstracts/variables" as *;

.showcase {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 24px;
  background-color: white; 

  @media (min-width: $bp-md){
    padding: 100px 24px;
  }

  &__bg-split {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      white 0%,
      white 60%,
      #cffafe 60%, 
      #cffafe 100%
    );

    @media (min-width: $bp-md) {
      background: linear-gradient(
        to right,
        #cffafe 0%,
        #cffafe 50%,
        #2563eb 50%, 
        #2563eb 100%
      );
      clip-path: inset(60% 0 0 0); 
    }
  }

  &__container {
    position: relative;
    z-index: 20;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    margin-bottom: 48px;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    color: $color-dark;
    line-height: 1.3;

    @media (min-width: $bp-md) {
      font-size: 48px;
    }
  }


  &__circle {
    position: absolute;
    border-radius: 50%;
    z-index: 10;

    &--black {
      left: 5%;
      top: 45%;
      width: 80px;
      height: 80px;
      background-color: #1a1a1a;
      @media (min-width: $bp-md) { width: 110px; height: 110px; }
    }

    &--yellow {
      left: 10%;
      bottom: 20%;
      width: 40px;
      height: 40px;
      background-color: #facc15;
    }

    &--blue {
      right: 5%;
      top: 15%;
      width: 40px;
      height: 40px;
      background-color: #3b82f6;
    }

    &--green {
      right: 8%;
      top: 60%;
      width: 70px;
      height: 70px;
      background: radial-gradient(circle at 30% 30%, #4ade80, #166534);
    }

    @media (max-width: $bp-md) { display: none;}

  }


  &__mockup {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0px 0px 0px;

    .viewport__image{
        width: 1000px;
    }

    @media (max-width: $bp-md) {  padding: 0px 0px 0px 0px; .viewport__image{
        width: 100%;
        height: auto;
    }}

  }

}