@use '../abstracts/variables' as *;
@use "sass:color";

.btn-signin {
  font-size: 14px;
  font-weight: 500;
  color: $color-gray-900;
  background: rgba($color-gray-100, 0.5);
  padding: 12px 24px;
  border-radius: 9999px;
  text-decoration: none;
  transition: all $transition-base;

  &:hover {
    color: $color-white;
    background: rgba($color-dark, 0.9);
  }

  @media (min-width: $bp-md) {
    display: block;
  }
}

.fab-chat {
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  background: $color-primary;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  box-shadow: $shadow-xl;
  cursor: pointer;

  &:hover {
    background: color.adjust($color-primary, $lightness: -10%)
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

